# Visual Studio
.vs/
*.suo
*.user
*.pdb
*.tmp
*.log
*.obj
*.o
*.exe
*.dll
*.ilk
*.aps
*.pch
*.ipch
*.com
*.lib
*.ncb
*.bak
*.old
*.rec
*.sln.docstates

# Build Results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
*.exe.config
*.publish.settings
*.userprefs
*.vshost.*

# Project files
*.csproj.user
*.vcxproj.user
*.vcproj.user
*.dbmdl
*.jfm
*.pfx
*.snk
*.vstemplate
*.webinfo
*.webmap
*.ctp
*.rptproj

# NuGet packages
packages/
*.nupkg
*.cache
*.props
*.targets
.nuget/NuGetScratch/
.nuget/packages/
.nuget/tmp/
.nuget/v3-test/

# Resharper
*.DotSettings.user
*.resharper
resharper-host/

# Rider
.idea/

# Node.js (if applicable, though unlikely for this project)
node_modules/
npm-debug.log

# Docker
*.dockerignore # Este é o .dockerignore, não o .gitignore
!.dockerignore # Exclua o .dockerignore para que ele seja versionado (se você o criar)
docker-compose.vs.json
docker-compose.vs.debug.yaml
docker-compose.vs.release.yaml

# Visual Studio Code
.vscode/

# Environment Variables
.env # Se você usar um arquivo .env para variáveis de ambiente (altamente recomendado para senhas, strings de conexão em dev)

# Kestrel TLS Certificate
.dotnet/